LLM-based code generation for MTL/Workflows/n8n-docker/workflows/Prompt_generation_reactions.json
{
  "name": "Prompt_generation",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2112,
        -64
      ],
      "id": "d5126077-957b-4468-81f1-b0048dea714c",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Here is the code:\n\n{{ $json.data }}\n—\nGenerate the original developer request that would have produced\nthat code, following the rules in the system message.\n\nHere are the models:\n{{ $json.concatenated_model }}\n\nHere is the grammar:\n{{ $json.grammar }}\n\n",
        "messages": {
          "messageValues": [
            {
              "message": "=You are acting as a senior developer who knows the Model Transformation Language: **Reactions Language** inside out.\n\nYour task is to reconstruct the NATURAL-LANGUAGE request that could\nhave produced the code shown in the next message, as if a developer\nwere asking an AI assistant to generate that code.\n\nRules\n1. You MUST explicitly state the reaction and routine names.  \n2. You MUST describe the intent on a high abstraction level.\n3. DO NOT say 'model::component', 'component' is enough for the context.\n   DO NOT say 'in the update block...', rather describe generally what happens in the routine and reaction.\n   Do NOT mention 'snippet', 'reverse-engineer', or any analysis meta language.\n4. When there are parts not included in the grammar, provide the method names.\n5. Write in the *developer-to-AI* voice, e.g.  'Create a transformation [...] that...'.\n6. Keep the request under **100 words**.\n"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -1168,
        320
      ],
      "id": "d0b578d9-c387-448e-a027-1f90a292c1fb",
      "name": "Generate Prompt from Input"
    },
    {
      "parameters": {
        "fileSelector": "=/data/snippets/reactions_language/references/*",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -1920,
        -64
      ],
      "id": "856a544e-625c-4d18-8a06-e6c5ae2ec393",
      "name": "Read reference file",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "text",
        "binaryPropertyName": "={{ $json.text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -864,
        320
      ],
      "id": "12cd0ab6-f17b-4737-ac5d-4b63f334377a",
      "name": "Convert prompt to file"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/data/snippets/reactions_language/prompts/{{ $node[\"Save reaction name\"].json.baseName }}.txt",
        "dataPropertyName": "={{ $('Generate Prompt from Input').item.json.text }}",
        "options": {
          "append": false
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -848,
        528
      ],
      "id": "0d43ae25-e127-4eb9-9e70-f8719c730c38",
      "name": "Write prompt to disk"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -1664,
        368
      ],
      "id": "dd8b465c-ec7a-45b5-8d14-bb597747c202",
      "name": "Extract text from reference file",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4b37b6fe-7d79-438b-9fc9-7cc8627e7551",
              "name": "baseName",
              "value": "={{$binary.data.fileName.split('.').slice(0,-1).join('.')}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1824,
        272
      ],
      "id": "df83d8c0-fc7b-41d0-94fe-1e4f9738cbb2",
      "name": "Save reaction name"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -2112,
        224
      ],
      "id": "7485b0cc-a4b5-4da0-8620-910d9298dd9d",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "fileSelector": "/data/grammar/reactions/EBNF.txt",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -1824,
        496
      ],
      "id": "cb1ff25c-9bc6-48d5-b9bd-b15856aac276",
      "name": "Read Grammar"
    },
    {
      "parameters": {
        "operation": "text",
        "destinationKey": "grammar",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -1504,
        496
      ],
      "id": "766fd643-8fc0-4f3a-bb6a-bd65028f519d",
      "name": "Extract text from grammar"
    },
    {
      "parameters": {
        "fileSelector": "=/data/models/*.ecore",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -1824,
        128
      ],
      "id": "d66ddc77-a910-4d73-a472-ef213e8c582b",
      "name": "Read model files",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "text",
        "destinationKey": "model",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -1648,
        128
      ],
      "id": "73c09d92-6976-4ae1-b7fa-1c364cfdb418",
      "name": "Extract text from model files"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-chat-latest",
          "mode": "list",
          "cachedResultName": "gpt-5-chat-latest"
        },
        "options": {
          "topP": 1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1168,
        496
      ],
      "id": "84ac2c74-f4c3-47a3-9c35-87e1b1a5d474",
      "name": "OpenAI GPT-5-Chat-latest",
      "credentials": {
        "openAiApi": {
          "id": "8mtpdiKzgoTWwPSM",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "concatenate",
              "field": "model",
              "separateBy": "\n"
            },
            {
              "aggregation": "concatenate",
              "field": "model",
              "includeEmpty": "=",
              "separateBy": "\n"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        -1472,
        128
      ],
      "id": "22008db2-f0b4-4e1d-9467-9eda0ddedda7",
      "name": "Summarize"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 3,
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1344,
        304
      ],
      "id": "25cb1b71-9cae-40d3-be33-d63e7a73c589",
      "name": "Merge models, reference and grammar",
      "alwaysOutputData": true
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Read reference file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Prompt from Input": {
      "main": [
        [
          {
            "node": "Convert prompt to file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read reference file": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert prompt to file": {
      "main": [
        [
          {
            "node": "Write prompt to disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract text from reference file": {
      "main": [
        [
          {
            "node": "Merge models, reference and grammar",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Save reaction name": {
      "main": [
        [
          {
            "node": "Extract text from reference file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Save reaction name",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract text from reference file",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read model files",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read Grammar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Grammar": {
      "main": [
        [
          {
            "node": "Extract text from grammar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract text from grammar": {
      "main": [
        [
          {
            "node": "Merge models, reference and grammar",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Write prompt to disk": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read model files": {
      "main": [
        [
          {
            "node": "Extract text from model files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract text from model files": {
      "main": [
        [
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI GPT-5-Chat-latest": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Prompt from Input",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Summarize": {
      "main": [
        [
          {
            "node": "Merge models, reference and grammar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge models, reference and grammar": {
      "main": [
        [
          {
            "node": "Generate Prompt from Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "610737a2-f110-428a-b38f-419563ea0659",
  "meta": {
    "instanceId": "baac600b301729508052ad55e0d8a15d3b34368b7a1ed3c61d229191ca3faa41"
  },
  "id": "BU0ovzkLIv3QprL4",
  "tags": []
}